* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    background: rgb(147, 150, 80);
}

#content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .box {
        background: rgb(255, 255, 251);
        padding: 20px 15px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

        h2, h3, h4 {
            padding: 5px;
        }
    }
}
